@import url('https://fonts.googleapis.com/css2?family=Prata&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #1c1e24;
    animation: transitionIn 6s;
    
}

.background {
    background-color: #1c1e24;
    height: 100vh;
    width: 100vw;
    
}

.container {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.enter {
    position: absolute;
    margin-top: -50px;
    width: 100vw;
}

p {
    
    font-weight: 700;
    letter-spacing: 1px;
    transition: 1s;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: turquoise;
}

.animation {
    width: 30vw;
    margin: 0 auto;
}


@media (max-width: 768px){
    .animation {
        width: 90vw;
        margin: 0 auto;
    }
}

.delayed-entry{
    animation-delay: 5s;
    animation: transitionIn 1s;
}


@keyframes transitionIn {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}

@keyframes delayed-entry {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}