@import url('https://fonts.googleapis.com/css2?family=Rozha+One&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

html {
    background-color: #F5F6F7;
    height: 100%;
    width: 100%;
    min-width: 375px;
}

body {
    min-height:100%; 
    position:relative; 
    padding-bottom: 50px; /*footer*/
    animation: transitionIn 1s;
}

a {
    text-decoration: none;
    color: unset;
}

nav {
    background-color: white;
    color: #535659;
    text-transform: lowercase;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    z-index: 1;
    position: fixed;
    width: 100%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

nav ol {
    margin: 10px;
}

nav li {
    display: inline;
    padding: 0 5vw;
    transition: .3s;
}

nav li:nth-child(1):hover {
    color: #DDB4AB;
}

nav li:nth-child(2):hover {
    color: #bce7eb;
}

nav li:nth-child(3):hover {
    color: #fce7a1;
}

nav #logo img{
    width: 80px;
    display: none;
}

nav #logo {
    margin: 0 auto;
    width: 80px;
}

#wrapper {
    width: 100%;
    padding-top: 140px;
}
    @media (max-width:1280px) {
        #wrapper {
            width: 100%;
        }
    }


/*HEADER*/    
#header {
    display: inline-flex;
    justify-content: center;
}

#header .text {
    height: calc(100vh - 140px);
    width: 40%;
    text-align: left;
    vertical-align: middle;

    display: flex;
    justify-content: center;
    align-items: center;
}

#header .text h1 {
    color: #c38e73;
    font-family: "Rozha One", Serif;
    font-size: 32px;
}

#header .text p {
    color: #535659;
    font-size: 16px;
}

@media (min-width:1536px){
    #header .text h1 {
        font-size: 42px;
    }
    #header .text p {
        font-size: 20px;
    }
}

#header .text #container {
    width: 90%;
    text-align: left;
}

#header .anim {
    height: calc(100vh - 140px);

    width: 30%;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .anim #computer{
    margin-left: 50px;
    width: 75%;
}

#header #circle {
    position: absolute; 
    width: 400px; 
    z-index: -1; 
    margin-top: -7%; 
    margin-left: -7%;
}

@media (max-width:1024px) {
    #header .text{
        height: calc(50vh - 140px);
    }

    #header .anim {
        height: calc(50vh - 140px);
    }
}

@media (max-width:768px) {
    #header .text{
        height: calc(75vh - 140px);
    }

    #header .anim {
        height: calc(75vh - 140px);
    }
}


@media (max-width:668px) { 
    #header {
        padding-top: 70px;
        display: inline-block;
        justify-content: center;
    } 
    #header .text {
        height: 400px;
        width: 100%;
    }
    #header .text #container {
        width: 80%;
        text-align: left;
    }
    #header .anim {
        height: unset;
        width: 80%;
        margin: 0 auto;
    }

    #header #circle {
        display: none;
    }
}


/*EXPERIENCE*/
#info {
    display: inline-flex;
    justify-content: center;
    height: calc(100vh - 140px);
    background-color: #f1f1f1;
    background-image: url(/resources/img/blob.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

#info #container {
    display: flex;
    width: 25%;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

#info #title {
    font-weight: 800; 
    font-size: 28px; 
    font-family: 'Rozha One', serif;
}

@media (max-width:1024px){
    #info {
        height: calc(50vh - 140px);
    }
}

@media (max-width:768px) {
    #info {
        height: calc(75vh - 140px);
        background-image: none;
    }
    #info #container {
        width: 30%;
    }

}

@media (max-width:668px) {
    #info {
        margin-top: 20%;
        display: inline-block;
        justify-content: center;
        background-size: auto;
        background-position: left;
        height: auto;
    }
    #info #container {
        width: 100%;
        padding: 50px;
    }
}

#info #container p {
    color: #c38e73;
}

#info #container i{
    color: #c38e73;
}

@media (min-width:1536px){
    #info #title {
        font-size: 36px;
    }
    #info p {
        font-size: 18px;
    }
}

/*PORTFOLIO*/
#portfolio {
    margin: 5vh auto;
    width: 100%;
}

#portfolio #container{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    
}


#portfolio h2{
    text-align: center;
    font-weight: 800;
    margin-top: 50px;
    padding: 25px;
    color: #c38e73;
    font-family: "Rozha One", serif;
    font-size: 32px;
}

#portfolio #card {
    padding: 10px;
    width: 325px;
    text-align: justify;
    margin-bottom: 25px;
}

#portfolio #card img{
    width: 300px;
}

#portfolio #card:nth-child(2) img {
    background-color:#f1e8e7;
    transition: .3s;
}

    #portfolio #card:nth-child(2) img:hover {
        background-color: #536073;
    }


#portfolio #card:nth-child(3) img {
    background-color: #adcddb;
    transition: .3s;
}

    #portfolio #card:nth-child(3) img:hover {
        background-color: #7E9092;
    }

#portfolio #card:nth-child(4) img {
    background: #C5CCDD;
    transition: .3s;
}

    #portfolio #card:nth-child(4) img:hover {
        background: #FFE4DE;
    }

#portfolio #card:nth-child(1) img {
    background-color: #e0dfe0;
    transition: .3s;
}
    #portfolio #card:nth-child(1) img:hover {
        background-color: #D8DE9F;
    }

#portfolio #card:nth-child(5) img {
    background-color: #e4ecde;
    transition: .3s;
}

    #portfolio #card:nth-child(5) img:hover {
        background: #DDB4AB;
    }

#portfolio #card:nth-child(6) img {
    background-color: #bce7eb;
    transition: .3s;
}

    #portfolio #card:nth-child(6) img:hover {
        background: #DDB4AB;
    }

#portfolio #card:nth-child(7) img {
    background-color: #f3d7e7;
    transition: .3s;
}

    #portfolio #card:nth-child(7) img:hover {
        background: #DDB4AB;
    }

#portfolio #card:nth-child(8) img {
    background-color: #fafae8;
    transition: .3s;
}

    #portfolio #card:nth-child(8) img:hover {
        background: #DDB4AB;
    }

#portfolio #card:nth-child(9) img {
    background-color: #58665f;
    transition: .3s;
}

    #portfolio #card:nth-child(9) img:hover {
        background: #DDB4AB;
    }


#portfolio #card h3 {
    color: #535659;
    font-size: 16px;
    line-height: 24px;
}

#portfolio #card p {
    color: #535659;
    font-size: 14px;
}

@media (max-width:668px) {
    #portfolio h2{
        text-align: center;
        font-weight: 800;
        margin-top: 0px;
        padding: 10px;
        color: #535659;
    }
    #portfolio #card:nth-child(6) {
        display: none;
    }
}


/*FOOTER*/

.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.025);
}


footer {
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 4% 4% 5% 4%;
    color: #adadad;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
    footer {
        justify-content: center;
        text-align: center;
        padding: 10% 10% 12% 10%;
    }
}

footer #socials {
    text-align: right;
}

footer li {
    text-decoration: none;
    list-style: none;
    padding: 7px;
}

footer #contact i {
    font-size: 15px;
    padding-right: 10px;
    transition: .3s;
}

footer #socials i {
    font-size: 32px;
    padding: 7px;
    transition: .3s;
}

footer a {
    transition: .3s;
}

footer a:hover {
    color: #7E9092;
}

small {
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    background-color: #e2c8c2;
    padding: 5px;
    text-align: center;
    font-weight: 300;
    color: white;
}

@keyframes transitionIn {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}