html {
  scroll-behavior: smooth;
}
body{
    margin: 0;
  }
  @viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
  @-ms-viewport {
    width: device-width ;
  }
  
  @media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5){
    html,
    body{
    width:100%;
    overflow-x:hidden;
  }
}


h1 {
    font-family: Chathura Bold, Arial, Helvetica, sans-serif;
}

h3{
    font-family: Chathura, Arial, Helvetica, sans-serif;
}

p {
  font-family: Karla, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: darkslategrey;
}

a:hover{
  color: cornflowerblue;
}

  #parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/river.png), url(../img/trees.png), url(../img/backdrop--gradient.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
  }

  #clouds {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/grid1.png);
    background-repeat: no-repeat;
  }

  #page--two {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(../img/grid1.png);
    background-repeat: no-repeat;
  }

  #page--three {
    position: relative;
    height: 100vh;
    background-image: url(../img/grid1.png);
    background-repeat: no-repeat;
  }

  #about {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/aboutme.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
  }


  #anim {
    max-width: 420px;
    margin: 0 auto;
}

#head {
  display: block;
}

#mobile-head {
  display: none;
}
@media (max-width:768px) {
  #head {
    display: none;
  }
  
  #mobile-head {
    display: block;
  }
}

/*NAVIGATION*/
  nav {
    overflow: hidden;
    z-index: 5;
  }

  nav ul li {
    list-style: none;
  }

  nav a {
    float: right;
    display: block;
    color: darkslategray;
    text-align: center;
    padding-right: 100px;
    padding-top: 0px;
    text-decoration: none;
    font-size: larger;
  }

  .toggle {
    width: 100%;
    padding: 10px;
    background: (0,0,0,0.1);
    text-align: left;
    box-sizing: border-box;
    color: #ffffff;
    display: none;
    font-size: x-large;
  }
  .toggle:hover{
    color: cornflowerblue;
  }

  .nav-toggle {
    display: none;
  }

  @media (max-width:768px){
    .toggle{
      display: block;
    }
    .nav-toggle{
      display: block;
    }
    .navbar {
      display: none;
    }
    nav {
      background-color: rgba(171,183,183,0.5)
    }
    nav ul {
      width: 100%;
      display: none;
      padding-left: 20px;
    }
    nav ul li {
      display: block;
      text-align: center;
    }
    nav a {
      float: unset;
      display: unset;
      color: darkslategray;
      text-align: left;
      padding: 0;
      text-decoration: none;
      line-height: 0;
      font-size: larger;
    }
    .active {
      display: block;
    }
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar {
      width: 30vw;
      position: absolute;
      z-index: 1;
      margin-top: 100px;
      margin-left: 50px;
  }

  .navbar ul li {
    list-style: none;
    line-height: 10px;
    font-size: larger;
    color: darkslategray;
  }



  #page--title {

      padding-top: 35px;
  }

  #mainpage--title {
    padding-left: 50px;
    padding-top: 35px;
}

@media (max-width:768px) {
  #mainpage--title {
    padding-left: 0px;
    padding-top: 35px;
    text-align: center;
}
}

  .text-box{
    width: 40%; 
    float: left; 
    padding-left: 50px; 
    padding-top: 100px;
  }

  .picture-container{
    float: right; 
    padding-right: 7%; 
    margin-top: -20px;
  }

  .picture-container img{
    width: 450px;
  }

  #down--arrow {
    width: 10px;
    display: block;
    margin: 0 auto;
  }

  #side-arrow {
    float: right; 
    padding-top: 100px; 
    padding-right: 5%;
  }

  @media (max-width:1024px){
    .text-box{
      width: 100%;  
      padding-left: 0px; 
      padding-top: 0px;

      text-align: center;
    }
  
    .picture-container{
      width: 100%;
      padding: 0;
      
    }

    #side-arrow {
      display: block;
      padding: 0;
      float: none;
      text-align: center;
    }

    .picture-container img {
      width: 300px;
      display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto
    }

    #page--title {
      padding: 0;
      text-align: center;
  }
  }

  .footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    color: white;
    text-align: center;
    font-size: x-small;
    
  }

  .footer p{
    display: inline-block;
  }

  button {
    color: white;
    background-color: skyblue;
    border: none;
    border-radius: 25px;
    padding: 10px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
    margin-left: 100px;
    margin-right: 100px;
  }



  .grid-item {
    text-align: center;
    border-radius: 10px;
    margin: 0;
  }
  .grid-item img {
    width: 600px;
  }
  .grid-item video {
    width: 600px;
  }

  @media (max-width:768px){
    .grid-container {
      margin-left: 0px;
      margin-right: 0px;
    }

    .grid-item img {
      width: 100%;
    }
    .grid-item video {
      width: 100%;
    }
  } 

  @font-face{ 
	font-family: 'Chathura';
	src: url('../fonts/chathura-regular-webfont.eot');
	src: url('../fonts/chathura-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/chathura-regular-webfont.woff') format('woff'),
	     url('../fonts/chathura-regular-webfont.ttf') format('truetype'),
	     url('../fonts/chathura-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Chathura Bold';
	src: url('../fonts/chathura-extrabold-webfont.eot');
	src: url('../fonts/chathura-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/chathura-extrabold-webfont.woff') format('woff'),
	     url('../fonts/chathura-extrabold-webfont.ttf') format('truetype'),
	     url('../fonts/chathura-extrabold-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Karla';
	src: url('../fonts/karla-regular-webfont.eot');
	src: url('../fonts/karla-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/karla-regular-webfont.woff') format('woff'),
	     url('../fonts/karla-regular-webfont.ttf') format('truetype'),
	     url('../fonts/karla-regular-webfont.svg#webfont') format('svg');
}

/*Animation*/
.fade-in-left {
	-webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-left--1 {
	-webkit-animation: fade-in-left 1.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 1.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-left--2 {
	-webkit-animation: fade-in-left 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-left--3 {
	-webkit-animation: fade-in-left 2.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 2.0s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.fade-in-left--4 {
	-webkit-animation: fade-in-left 2.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 2.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}





.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s 2s both;
	        animation: jello-horizontal 0.9s 2s both;
}
@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }


/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* Icon Wobble Vertical */
@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-icon-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-vertical .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-wobble-vertical:hover .hvr-icon, .hvr-icon-wobble-vertical:focus .hvr-icon, .hvr-icon-wobble-vertical:active .hvr-icon {
  -webkit-animation-name: hvr-icon-wobble-vertical;
  animation-name: hvr-icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

#mobile-head-REDO{
  display: none;
}

#scroll-REDO{
  display: none;
}

.column {
  float: left;
  width: 40%;
  margin: 50px;
  font-size: larger;
  top: 50%;
}

.column img {
  width: 450px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column text {
  padding-top: 200px;
}


@media (max-width:1080px){

  #head {
    display: none;
  }

  .column {
    text-align: center;
    margin: 0px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;


  }
  .column img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .column text {
    margin-top: 0px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #mobile-head-REDO{
    display: block;
    text-align: center;
  }
  #mobile-head-REDO img {
    width: 200px;
    margin-top: 40vh;
    
  }
  #scroll-REDO{
    display: block;
    text-align: center;
  }
  #scroll-REDO img {
    width: 200px;
    margin-top: 40vh;
  }
  break {
    display: none;
  }
}