@import url('https://fonts.googleapis.com/css2?family=Rozha+One&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

html {
    background-color: #F5F6F7;
    height: 100%;
    width: 100%;
}

body {
    min-height:100%; 
    position:relative; 
    padding-bottom: 50px; /*footer*/
    animation: transitionIn 1s;
}

#wrapper {
    width: 1280px;
    margin: 0 auto;
}
    @media (max-width:1280px) {
        #wrapper {
            width: 100%;
        }
    }

a {
    text-decoration: none;
    color: #7E9092;
}
a:hover{
    color: #DDB4AB;
}

@media (max-width: 1024px){
  #decoration {
    display: none;
}  
}

.plant-swing {
    animation-name: swing;
  animation-duration: 4s;
  transform-origin: 50% 0%;
}

@keyframes swing {
    0%   {transform: rotate(-2deg)}
    25%   {transform: rotate(2deg)}
    50%   {transform: rotate(-1deg)}
    75%   {transform: rotate(1deg)}
  100% {transform: rotate(0deg)}
}


/*nav*/

nav {
    background-color: #535659;
    color: #F5F6F7;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 5px;
    text-align: right;
    z-index: 1;
    position: fixed;
    width: 100vw;
}

nav li {
    display: inline;
    padding: 10px;
}

nav a {
    color: #F5F6F7;
}

nav a:hover {
    color: #adcddb;
}

@media (max-width:540px) {
    nav {
        font-size: 18px;
    }
    nav li {
        display: inline;
        padding: 10px;
    }
}
nav li:nth-child(1){
    float: left;
}


/*header*/
#header {
    padding-top: 50px;
    display: inline-flex;
    justify-content: center;
}

#header .text {
    height: 400px;
    width: 30%;
    text-align: left;
    vertical-align: middle;

    display: flex;
    justify-content: center;
    align-items: center;
}

#header .text h1 {
    color: #c38e73;
    font-family: "Rozha One", Serif;
    /*background: -webkit-linear-gradient(240deg, #ACB6E5, #74ebd5); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    font-size: 24px;
}

#header .text p {
    color: #535659;
    font-size: 14px;
}

#header .text #container {
    width: 90%;
    text-align: left;
}

#header .anim {
    height: 400px;
    width: 30%;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .anim #computer{
    margin-left: 50px;
    width: 75%;
}

@media (max-width:668px) { 
    #header {
        padding-top: 70px;
        display: inline-block;
        justify-content: center;
    } 
    #header .text {
        height: 400px;
        width: 100vw;
    }
    #header .text #container {
        width: 80%;
        text-align: left;
    }
    #header .anim {
        height: unset;
        width: 80vw;
        margin: 0 auto;
    }
}


/*info*/
#info {
    display: inline-flex;
    justify-content: center;
}

#info #container {
    display: flex;
    width: 20%;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

@media (max-width:768px) {
    #info #container {
        width: 30%;
        padding: 10px;
    }
}

@media (max-width:668px) {
    #info {
        margin-top: 20%;
        display: inline-block;
        justify-content: center;
    }
    #info #container {
        width: 100vw;
        padding: 20px;
        padding-bottom: 50px;
    }
}

#info #container p {
    color: #535659;
}

#info #container i{
    background: -webkit-linear-gradient(240deg, #ACB6E5, #74ebd5); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*portfolio*/

#portfolio {
    margin: 0 auto;
    width: 100%;
}

#portfolio #container{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


#portfolio h2{
    text-align: center;
    font-weight: 800;
    margin-top: 50px;
    padding: 25px;
    color: #c38e73;
    font-family: "Rozha One", serif;
}

#portfolio #card {
    padding: 10px;
    width: 325px;
    text-align: justify;
    margin-bottom: 25px;
}

#portfolio #card img{
    width: 300px;
}

#portfolio #card:nth-child(1) img {
    background-color:#f1e8e7;
    transition: .3s;
}

    #portfolio #card:nth-child(1) img:hover {
        background-color: #536073;
    }


#portfolio #card:nth-child(2) img {
    background-color: #adcddb;
    transition: .3s;
}

    #portfolio #card:nth-child(2) img:hover {
        background-color: #7E9092;
    }

#portfolio #card:nth-child(4) img {
    background-color: #e0dfe0;
    transition: .3s;
}
    #portfolio #card:nth-child(4) img:hover {
        background-color: #D8DE9F;
    }

#portfolio #card:nth-child(3) img {
    background: #C5CCDD;
    transition: .3s;
}

    #portfolio #card:nth-child(3) img:hover {
        background: #FFE4DE;
    }

#portfolio #card:nth-child(5) img {
    background-color: #535659;
    transition: .3s;
}

    #portfolio #card:nth-child(5) img:hover {
        background: #DDB4AB;
    }

#portfolio #card:nth-child(6) img {
    background-color: rgb(211,224,214);
}



#portfolio #card h3 {
    color: #535659;
    font-size: 16px;
    line-height: 24px;
}

#portfolio #card p {
    color: #535659;
    font-size: 14px;
}

@media (max-width:668px) {
    #portfolio h2{
        text-align: center;
        font-weight: 800;
        margin-top: 0px;
        padding: 10px;
        color: #535659;
    }
    #portfolio #card:nth-child(6) {
        display: none;
    }
}

/*files*/
#files {
    height: 200px;
}

/*footer*/

.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.025);
}


footer {
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    color: #574E43;
    font-size: 12px;
}

footer #socials {
    text-align: right;
}

footer li {
    text-decoration: none;
    list-style: none;
    padding: 7px;
}

footer #contact i {
    font-size: 15px;
    padding-right: 10px;
    transition: .3s;
}

footer #socials i {
    font-size: 32px;
    padding: 7px;
    transition: .3s;
}

footer i:hover {
    color: lightsteelblue;
}

@keyframes transitionIn {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}