.home-container {
    height: 100vh;
    margin-left: 130px;
    position: relative;
}

.home-section {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.home-text {
    width: 40vw;
    padding-right: 5vw;
}

.home-animation {
    width: 25vw;
}

.home-animation img {
    width: 100%;
}

h2 {
    font-size: 42px;
    font-weight: 800;
    color: #FFF;
  }


.plane {
    margin-left: -80vw;
}

.fog {
    position: absolute;
    width: 100vw;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.home-contact-container {
    height: 50vh;
}

.home-contact-section {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.sun {
    bottom: 0; 
    position: absolute;
    left: 50%;
    transform: translate(50%);
}

.sun img {
    width: 50px;
    
}