.home-container {
    height: 75vh;
    margin-left: 130px;
    position: relative;
}

.home-section {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.home-text {
    width: 40vw;
    padding-right: 5vw;
    overflow: visible;
}

.home-animation {
    width: 25vw;
}

.home-animation img {
    width: 100%;
}

h2 {
    font-size: 42px;
    font-weight: 800;
    color: #FFF;
    overflow: visible;
  }

.fog {
    position: absolute;
    width: 100vw;
}

.fog img {
    width: 90vw;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.home-contact-container {
    height: 75vh;
}

.home-contact-section {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sun {
    bottom: 0; 
    position: absolute;
    width: 100%;
}

.sun img {
    display: block;
    width: 50px;
    margin-bottom: -15px;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    width: 100%;
    height: 20vh;
    border-radius: 0;
    padding: 10px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: #FFF;
}

.info-field {
    border-radius: 0;
    border: #FFF;
    padding: 10px;
    width: 50%;
}

.submit-btn {
    padding: 5px;
    border-radius: 0;
    border: #FFF;
}