.photocollage {
    margin-left: 130px;
    margin-top: 5vh;
}

.photocollage__title{
    padding: 2vw;
    color: #4d4d4d;
    width: 80%;
    text-align: justify;
    margin: 0 auto;
}

.photocollage__container {
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
}

.photocollage__item img {
    width: 100%;
    object-fit: fill;
}

.landscape {
    width: 80%;
    padding: 5px;
    text-align: center;
    color: rgb(199, 199, 199);
    font-size: 1vw;
}

.portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

    .portrait img {
        width: 40%;
    }
    .portrait p {
        width: 40%;
        text-align: center;
        color: rgb(199, 199, 199);
        font-size: 1vw;
    }

    .back__arrow i{
        margin-left: 170px;
        font-size: 30px;
        color: #dadada;
        position: fixed;
      }
      
      .back__arrow i:hover {
        color: #1f98f4;
      }
       

      @media screen and (max-width: 960px) {
        .photocollage {
            margin-left: 0;
            margin-top: 130px;
        }

        .portrait p, .landscape {
            font-size: 1em;
        }
      }