@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


#content {
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

html {
    background-color: #E7E7E6;
    
}

body {
    overflow-x: hidden;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 72px;
    text-align: center;
    color: #574E43;
    font-weight: 100;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 10px;
    text-align: center;
}

h3 {
    font-family: 'Raleway', sans-serif;
}

#loader {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: whitesmoke;
    z-index: 200;
    color: black;
    text-align: center;
    line-height: 90vh;
    opacity: 1;
    animation: fade 1s ease-in 3s forwards,
                disappear 0s ease-in 4s forwards
                ;

}

#loader #le {
    max-width: 75px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fade {
    to {
        opacity: 0;
    }
}

@keyframes disappear {
    to {
        width:0;
        height:0;
        overflow:hidden;
        
    }
}


banner {
    background-color: #6F5D49;
    z-index: 2;
    position: fixed;
    width: 100vw;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);

}

banner ol {
    text-align: center;
}

banner li {
    display: inline-block;
    color: whitesmoke;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

@media (max-width: 600px) {
    banner {
        display: none;
    }
}

header {
    padding: 30px;
    padding-top: 100px;
    line-height: 48px;
    
}

header h1 {
    font-size: 84px;
    transition: 1s;
}

header h1:hover {
    color: lightsteelblue;

}

header h2 {
    font-size: 20px;
}

    @media (max-width: 600px) {
        header {
            padding: 10px;
            padding-top: 50px;
            line-height: 64px;
        }   
        header h1 {
            font-size: 89px;
        } 
        header h2 {
            font-size: 18px;
            letter-spacing: 5px;
            color: grey;
        }
    }

    @media (max-width: 400px) {
        header {
            padding: 10px;
            padding-top: 50px;
            line-height: 50px;
        }   
        header h1 {
            font-size: 72px;
        } 
        header h2 {
            font-size: 18px;
            letter-spacing: 5px;
            color: grey;
        }
    }

nav {
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
}



nav li {
    display: inline;
    padding-left: 5vw;
    padding-right: 5vw;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5px;
    transition: 0.3s;
    font-size: 10px;
}

nav li:hover {
    color: lightsteelblue;
}

@media (max-width: 999px) {
    nav li {
        display: block;
        padding: 10px;
    }
}

@media (max-width: 400px) {
    nav li {
        display: block;
        padding: 5px;
        font-size: 15px;
    }
}

#main-image {
    height: 400px;
}

#main-image .slideshow{
    width: 100%; 
    height:400px; 
    overflow:hidden; 
    position:relative;
}

#main-image .slideshow img{ 
    position: absolute; 
    animation: slideshow 16s infinite; 
    opacity:0; 
    width: 100%; 
    height: 500px;
    object-fit: cover;
}

@keyframes slideshow {
    25%{opacity: 0.4;} 
    40%{opacity:0;}
}

#main-image .slideshow img:nth-child(4){
    animation-delay: 0s;
}
#main-image .slideshow img:nth-child(3){
    animation-delay:4s;
}
#main-image .slideshow img:nth-child(2){
    animation-delay:8s;
}
#main-image .slideshow img:nth-child(1){
    animation-delay:12s;
}

#main-image .text {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    padding-top: 150px;
}

@media (max-width:600px) {
    #main-image .text {
        position: absolute;
        z-index: 1;
        text-align: center;
        width: 100%;
        padding-top: 100px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
}

@media (max-width: 400px) {
    #main-image .text {
        padding-top: 100px;
    }
}

#main-image div p:hover {
    background-color: #b0c4de;
}

#main-image div h3{
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 8px;
    text-align: center;
    font-size: 28px; 
    color: #443D34;
}

#main-image div p {
    background-color: #574E43;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    color: whitesmoke;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5px;
    transition: 0.3s;
}

#main-description {
    margin: 4vw 12vw;
}

#main-description p{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    color: #6F5D49;
}

@media (max-width:600px) {
    #main-description {
        margin: 8vw;
    }
}

@media (max-width: 400px) {
    #main-description {
        margin: 12vw;
    }
}

#testimonials-snippet {
    width: 100%;
    margin: 0 auto;
   
}

#testimonials-snippet #arrows {
   color: whitesmoke; 
   font-size: 32px; 
   line-height: 200px;
   transition: 0.3s;
}

#testimonials-snippet #arrows:hover {
    color: lightsteelblue;
}

@media (max-width: 1040px) {
    #testimonials-snippet #arrows {
        display: none;
    }
}

#testimonials-snippet .container{
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    color: #443D34;
}


#testimonials-snippet .box {
    padding: 40px;
    margin: 0 2vw;
    width: 250px;
    height: 300px;
    text-align: justify;
    font-size: 14px;
    background-color: #F3f3f3;
    background-position: center;
    background-size: contain;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 999px) {
    #testimonials-snippet .box {
        margin: 1vw;}
}

#testimonials-snippet .box h4 {
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Source Code Pro', monospace;  
    font-size: 16px;

  }

  #testimonials-snippet .box h4  {
    animation: animated-text 2s steps(30,end) 1s 1 normal both;
    animation-delay: 1s;
  }
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 300px;}
  }

#gallery-snippet {
    margin: 50px auto;
    width: 100%;
}

#gallery-snippet h2 {
    padding: 20px;
    font-weight: 600;
    color: #574E43;
    font-size: 24px;
    letter-spacing: 5px;
}

#gallery-snippet #container{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#gallery-snippet img {
    padding: 10px;
    height: 300px;
}

#gallery-snippet .wrapper {
    position: relative;
    height: 300px;
    width: 300px;
  }

  
  #gallery-snippet .description {
    position: absolute;
    height: 280px;
    width: 280px;
    margin: 10px;
    background: whitesmoke;
    opacity: 80%;
    transition: opacity .2s, visibility .2s;

    letter-spacing: 3px;
    line-height: 260px;
    text-align: center;
  }
  
#gallery-snippet .description:hover {
    opacity: 100%;
  }

  @media (max-width: 600px) {
    #gallery-snippet img {
        padding: 10px;
        height: 300px;
    }
    
    #gallery-snippet .wrapper {
        position: relative;
        height: 300px;
        width: 300px;
      }
    
      
      #gallery-snippet .description {
        position: absolute;
        height: 280px;
        width: 280px;
        margin: 10px;
        background: whitesmoke;
        opacity: 80%;
        transition: opacity .2s, visibility .2s;
    
        letter-spacing: 3px;
        line-height: 260px;
        text-align: center;
      }
    }

  #gallery {
    margin: 5vh auto;
    width: 100%;
  }

  #gallery h2 {
    font-weight: 600;
    color: #574E43;
    font-size: 18px;
    letter-spacing: 3px;
  }
    #gallery #container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    }

    #gallery img {
    padding: 5px;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

    #gallery .wrapper {
    position: relative;
    width: 350px;
     }


#testimonials {
    margin: 5vh 5vw;
}

#testimonials .wrapper {
    padding: 20px;
}

#testimonials h2 {
    font-weight: 600;
    color: #574E43;
    font-size: 18px;
    letter-spacing: 3px;
}

#testimonials h3 {
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
}

#testimonials p {
    font-size: 14px;
    line-height: 28px;
    font-weight: 200;
}

@media (max-width: 600px) {

    #testimonials .wrapper {
        padding: 10px;
    }

    #testimonials h2 {
        font-weight: 600;
        color: #574E43;
        font-size: 18px;
        letter-spacing: 5px;
        padding-top: 30px;
    }
    #testimonials h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
    }
    
    #testimonials p {
        font-size: 12px;
        line-height: 24px;
        font-weight: 200;
    }
}

#about {
    width: 90%;
    margin: 0vh auto;
    display: flex;
    color: #443D34;
    font-size: 14px;
}

#about h2 {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 18px;
}

#about .wrapper {
    width: 50%;
    padding: 5vh 3vw;
}

#about .wrapper .cert {
    padding: 20px;
    width: 50%;
    text-align: center;
    opacity: 40%;
}

@media (max-width:600px) {
    #about {
        width: 90%;
        margin: 3vh auto;
        display: block;
    }
    #about .wrapper {
        width: 100%;
        padding: 5vw;
    }
}

#about .cert {
    width:100%; 
}

#menu {
    width: 90%;
    margin: 5vh auto;
}

#menu #container {
    width: 60%;
    margin: 0vh auto;
    display: flex;
    color: #443D34;
    font-size: 14px;
}

#menu .wrapper {
    width: 50%;
    padding: 5vh 3vw;
}

#menu h2 {
    font-weight: 600;
    color: #574E43;
    font-size: 18px;
    letter-spacing: 3px;
}

#menu p {
    color: #574E43;
    text-align: center;
}

#menu li {
    list-style: none;
}

@media (max-width:800px) {
    #menu {
        width: 90%;
        margin: 3vh auto;
        display: block;
    }
    #menu #container {
        width: 100%;
        padding: 5vw;
    }
}

#contact-form {
    background-color: rgba(245, 245, 245, 0.507);
    margin: 5vh auto;
    padding: 50px;
    width: 700px;
    border-radius: 10px;
}

#contact-form .item, #contact-form .question {
    margin-top: 20px;
}

#contact-form p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #6F5D49;
}

#contact-form h3 {
    font-size: 20px;
    color: #6F5D49;
}

#contact-form input, #contact-form textarea {
    padding: 20px;
    border-radius: 10px;
    border: solid 1px rgba(176, 196, 222, 0.753);
}

#contact-form button {
    padding: 10px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    font-size: 12px;
    background-color: #574E43;
    color: #E7E7E6;
    border: none;
    border-radius: 30px;
    transition: .3s;
}

#contact-form button:hover {
   background-color: lightsteelblue;
   color: whitesmoke;
}

@media (max-width:700px) {
    #contact-form {
        background-color: white;
        margin: 5vh 5vw;
        padding: 50px;
        width: 90vw;
        
    }

    #contact-form input, #contact-form textarea {
        padding: 10px;
        border-radius: 10px;
        border: solid 1px lightsteelblue;
    }
    
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    color: #574E43;
    font-size: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

footer #socials {
    text-align: right;
}

footer li {
    text-decoration: none;
    list-style: none;
    padding: 7px;
}

footer i {
    font-size: 32px;
    padding: 7px;
    transition: .3s;
}

footer i:hover {
    color: lightsteelblue;
}

#tag {
    position: relative; 
    left: 0; right: 0; bottom: 0; 
    text-align: center; 
    background-color: white;
    color: #A8a5b7;
    padding: 5px;
    font-size: 10px;
}

#tag a:hover {
    color: #4c4286;
}